/* This is a comment in CSS . It will not render */

body {
	width: 50%;
    margin: 0 auto;
	background-color:rgb(51,51,51);
}

a {
	color:rgb(244,163,59);
}

h1 {
	position: relative;
	top: 20px;
	font-family:"Helvetica";
	color:white;
}


div.wrapper {
	width:602px;
	height: 408px;
	margin:20px;
	padding:0px 20px 20px 20px;
	border:0px;
	border-radius: 16px;
	background-color:rgba(255,255,255,0.3);
}

div.wrapper img {
	height:252px;
	width:252px;
	margin: 10px 10px 20px 0px;
}

div.description {
	font-family:"Helvetica";
	color:white;
	margin-top:0px;
}

div.footer {
	font-family:"Helvetica";
	color:rgb(169,165,162);
	font-size:10px;
}